<%- include ('partials/header') %>


<div class="view-container">
  <div class="empty-view">
    <h1>Nothing Here Yet!</h1>
    <h3>Choose a date range to get started</h3>
    <img class="empty-events-img" src="imgs/undraw_calendar_dutt.svg" alt="">
  </div>
</div>

<footer class="footer-container">
  <div class="input-container-search">
    <div class="icon-circle"><i class="fas fa-search"></i></div>
    <div class="padding-sm">
      <input id="date-input-start" type="text" placeholder="From">
      <i class="fas fa-angle-double-right"></i>
      <input id="date-input-end" type="text" placeholder="To">
    </div>
    <!-- Default dropup button -->
    <div class="dropup padding-sm">
      <button class="btn btn-default dropdown-toggle" type="button" id="branchDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Branch
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li>Belmont</li>
        <li>Broad Rock</li>
        <li>East End</li>
        <li>Ginter Park</li>
        <li>Hull Street</li>
        <li>Main</li>
        <li>North Avenue</li>
        <li>West End</li>
        <li>Westover Hills</li>
      </ul>
    </div>
  </div>
</footer>


<%- include ('partials/calendar-footer') %>
