<%- include ('partials/header') %>



<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1 class="jumbo-header">Update Password</h1>
      <p></p>
    </div>
  </header>
</div>

<div class="container center-block">
  <form action="/user/<%= user._id %>/change-password" method="POST" style="max-width: 300px; margin: 0 auto; background-color: #eeeeee; padding: 40px 20px; border-radius: 5px;">
      <% if(message) {%>
        <h3 style="color: #cc262d"><%= message %></h3>
      <% } %>
    <div class="form-group">
      <label for="formGroupExampleInput">Username</label>
      <input type="text" disabled class="form-control" id="formGroupExampleInput" placeholder="<%=user.username%>" name="username">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Old Password</label>
      <input type="password" class="form-control" id="formGroupExampleInput1" placeholder="old password" name="oldpassword">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">New Password</label>
      <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="new password" name="password1">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Reenter New Password</label>
      <input type="password" class="form-control" id="formGroupExampleInput3" placeholder="reenter new password" name="password2">
    </div>
    <button class="button-main">Submit</button>
  </form>
</div>
