<%- include ('partials/unauthenticated-header') %>
<div class="container-fluid" style="height: 100vh; display: flex; align-items: center; background-image: url('imgs/book-shelf.jpeg'); background-position: center; background-size: cover; background-repeat: no-repeat;">
  <div class="container-fluid center-block">
    <% if(message.length) {%>
    <form action="/forgot-email" method="post" enctype="application/x-www-form-urlencoded" style="max-width: 300px; margin: 0 auto; background-color: #eeeeee; padding: 40px 20px; border-radius: 5px;">
      <h3>Reset Password</h3>
      <br>
      <div class="form-group">
        <label for="formGroupExampleInput">Enter Email</label>
        <input disabled type="text" class="form-control" id="formGroupExampleInput" placeholder="email" name="email">
      </div>
        <p style="color: #cc262d"><%= message %></p>
    </form>
    <% } else if(error.length) {%>
      <form action="/forgot-email" method="post" enctype="application/x-www-form-urlencoded" style="max-width: 300px; margin: 0 auto; background-color: #eeeeee; padding: 40px 20px; border-radius: 5px;">
      <h3>Reset Password</h3>
        <br>
        <div class="form-group">
          <label for="formGroupExampleInput">Enter Email</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="email" name="email">
        </div>
        <button class="button-main">Submit</button>
          <p style="color: #cc262d"><%= error %></p>
      </form>
    <% } else { %>
      <form action="/forgot-email" method="post" enctype="application/x-www-form-urlencoded" style="max-width: 300px; margin: 0 auto; background-color: #eeeeee; padding: 40px 20px; border-radius: 5px;">
      <h3>Reset Password</h3>
        <br>
        <div class="form-group">
          <label for="formGroupExampleInput">Enter Email</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="email" name="email">
        </div>
        <button class="button-main">Submit</button>
      </form>
    <% } %>
  </div>
</div>
