<%- include ('partials/unauthenticated-header') %>


<!-- <div class="container-fluid">
  <header class="jumbotron">
    <div class="container">
      <h1 class="jumbo-header">Please Login</h1>
      <p></p>
      <a href="/entries/new"><button class="button-main">Add A New FAQ</button></a>
    </div>
  </header>
</div> -->
<div class="container-fluid" style="height: 100vh; display: flex; align-items: center; background-image: url('imgs/book-shelf.jpeg'); background-position: center; background-size: contain;">
  <div class="container-fluid center-block">
    <form action="/login" method="post" enctype="application/x-www-form-urlencoded" style="max-width: 300px; margin: 0 auto; background-color: #eeeeee; padding: 40px 20px; border-radius: 5px;">
      <img src="https://rvalibrary.org/wp-content/uploads/2019/11/logo_nobackground.png" style="width: 80%; display: inline-block; margin: -10px 10px 0 0;" alt=""></img>
      <div class="form-group">
        <label for="formGroupExampleInput">Username</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username" name="username">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="password" name="password">
      </div>
      <button class="button-main">Submit</button>
    </form>
  </div>
</div>

<!-- <div class="container-fluid center-block" style="background-image: url('../../assets/imgs/book-shelf.jpg')">
  <form action="/login" method="post" enctype="application/x-www-form-urlencoded" style="max-width: 300px; margin: 0 auto; background-color: #eeeeee; padding: 40px 20px; border-radius: 5px;">
    <div class="form-group">
      <label for="formGroupExampleInput">Username</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username" name="username">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Password</label>
      <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="password" name="password">
    </div>
    <button class="button-main">Submit</button>
  </form>
</div> -->
