<%- include ('partials/header') %>

<div class="container padding-sm-top padding-sm-right padding-sm-bottom">
	<div class="row">

<div class="col-md-10">
<h1 class="jumbo-header">
	Create a new FAQ
</h1>
<!-- <div style="width: 70%; margin: 0 auto"> -->

<form action="/entries" method="POST" onkeypress="formReturnDisabled(event)">
	<!-- section title name - this should eventually be a select box -->
	<div class="form-group form-group-select">
		<div class="tag-input-container">
			<div class="headline">
				Categories
			</div>
			<select name="entry[section]">

				<option value="<%= category._id %>"><%= category.title %></option>
			</select>
		</div>
	</div>
	<% if(category.public) {%>
		<div class="form-group form-group-select">
			<div class="tag-input-container">
				<div class="headline">
					For Public?
				</div>
				<select name="entry[public]">
					<option value="true">True</option>
				</select>
			</div>
		</div>
	<% } %>
	<!-- Title Text Input -->
	<div class="form-group title-field">
		<div class="tag-input-container">
			<div class="headline">
				Add Title
			</div>
			<input class="tag-input" id="titleField" type="text" name="entry[title]" value="" placeholder=""></input>
		</div>
	</div>
<% if(category.isPrivate == true) {%>
	<div class="form-group form-group-select">
		<div class="tag-input-container">
			<div class="headline">
				Private Category?
			</div>
			<div class="sub-headline">
				Adding an FAQ to a private category will make this FAQ private.
			</div>
			<select name="entry[isPrivate]">
				<option value="true">True</option>
			</select>
		</div>
	</div>
	<% } %>
		<!-- input for text -->
		<div class="form-group">
			<div class="tag-input-container-large">
				<div class="headline">
					Add Description
				</div>
				<textarea class="form-control tag-input" id="comment" name="entry[description]" rows="8" cols="80" ></textarea>
			</div>
		</div>
		<div class="form-group title-field">
			<div class="tag-input-container">
				<div class="headline">
					Add Cost (if valid)
				</div>
				<input class="tag-input" id="titleField" type="text" name="entry[cost]" value="" placeholder=""></input>
			</div>
		</div>
		<div class="form-group title-field">
			<div class="tag-input-container">
				<div class="headline">
					Add Cabinet (if valid)
				</div>
				<input class="tag-input" id="titleField" type="text" name="entry[cabinet]" value="" placeholder=""></input>
			</div>
		</div>

		<div class="tag-input-container">
			<div class="headline">Add Category</div>
		<div id="spanContainer"></div>
		<input class="tag-input-component" type="text">
		</div>
		 <!-- submit button for form -->
		<div class="form-group">
			<button class="button-main">
				Submit
			</button>
		</div>
</form>

	<a href="/entries"><button class="button-main-sm">Go Back</button></a>
	<!-- </div> -->
	</div>
	</div>
	</div>

<%- include ('partials/footer') %>
<script type="module" src="/new-faq.js"></script>
