<%- include ('partials/unauthenticated-header') %>
<div class="container-fluid" style="height: 100vh; display: flex; align-items: center; background-image: url('../imgs/book-shelf.jpeg'); background-position: center; background-size: cover; background-repeat: no-repeat;">
  <div class="container-fluid center-block">
    <form action="/reset/<%=token%>" method="post" enctype="application/x-www-form-urlencoded" style="max-width: 300px; margin: 0 auto; background-color: #eeeeee; padding: 40px 20px; border-radius: 5px;">
      <img src="https://rvalibrary.org/wp-content/uploads/2019/11/logo_nobackground.png" style="width: 80%; display: inline-block; margin: -10px 10px 0 0;" alt=""></img>
      <br>
      <div class="form-group">
        <label for="formGroupExampleInput2">New Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="new password" name="password1">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Reenter New Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput3" placeholder="reenter new password" name="password2">
      </div>
      <button class="button-main">Submit</button>
      <% if(message) {%>
        <p style="color: #cc262d"><%= message %></p>
      <% } %>
    </form>
  </div>
</div>
