<%- include ('partials/header') %>

<div class="container">
    <header class="jumbotron">
	  <div class="container">
		<h1 class="jumbo-header">User Panel</h1>
    <p class="jumbo-header"><%= user.username %></p>
		<p></p>
		<!-- <a href="/entries/new"><button class="button-main">Add A New FAQ</button></a> -->
	  </div>
	</header>

  <div class="row text-center" style="display: flex; flex-wrap: wrap">
    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
      <div class="thumbnail">

        <h3 class="section-name">Change Password</h3>
        <div class="caption">

        </div>
        <p>
          <a href="/user/<%= user._id %>/change-password" class="button-main-sm">Edit</a>
        </p>
      </div>
    </div>

  </div>
</div>


<%- include ('partials/footer') %>
