body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,h2,h3,h4,h5,h6{
  margin: 15px 0px;
}

p{
  color: #333;
}

li{
  color: #126a9d;
}

.jumbotron{
  position: relative;
}

.absolute-top-right{
  position: absolute;
  top: 20px;
  right: 10px;
}

.absolute-bottom-right{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.nav-card-header{
  color: #cf3540;
}

.next-previous-links{
  text-decoration: none !important;
}

.button-main{
  display: inline-block;
  text-transform: uppercase;
  padding: 1em 6.5em;
  background: none;
  color:darkblue;
  font-weight: bold;
  position: relative;
  transition:color 0.25s ease;
  border:3px solid #022437;
	z-index:99;
	overflow: hidden;
}

.button-main:hover {
  color:#cf343f;

}

.button-main:after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: #e1e1e1;
  transform-origin: center;
  transition: width 0.25s ease;
  z-index: -1;
	transform: translateX(-50%);

}

.button-main:hover:after {

	width: 100%;
}

.button-main-sm{
	display: inline-block;
  text-transform: uppercase;
  padding: .5em 1em;
  background: none;
  color:#37268e;
  font-weight: bold;
  position: relative;
  transition:color 0.25s ease;
  border:1px solid #022437;
	z-index:99;
}

.button-main-sm:hover {
  color:#fff;
  text-decoration: none;
}

.button-main-sm:after {
  position: absolute;
  content: '';
  top:0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #37268e;
  transform-origin:right;
  transition:width 0.25s ease;
  z-index: -1;
}

.button-main-sm:hover:after {
  width: 100%;
}

article{
  width: 100%;
  height: 100%;
  padding-top: 20px;
	background-color: #f7f7f7;
  padding-bottom: 200px;
}

.back-container{
	width: 5%;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 3%;
}

.edit-container{
  width: 11%;
  display: inline-block;
  float: right;
  padding: 1%;
  height: 100%;
}

.fa-long-arrow-alt-left, .fa-long-arrow-alt-right{
	cursor: pointer;
	animation: slide .5s linear infinite;
	animation-play-state: paused;
	font-size: 17px;
	color: #333;
  padding: 10px;
}

.fa-long-arrow-alt-right:hover{
  animation-play-state: running;
}

.fa-long-arrow-alt-left:hover{
	animation-play-state: running;
}

@keyframes slide{
	70%{
		transform: translateX(-6px);
	}
	100%{
		transform: translateX(0px);
	}
}

.text-container{
  width: 80%;
  margin-left: 20px;
  display: inline-block;
  padding: 3%;
}

.text-container h1{
  color: #cf343f;
}

.img-container{
  width: 50%;
  max-width: 100%;
  height: 100%;
  float: left;
  position: relative;
  margin-right: 20px;
}

.top{
  position: absolute;
  top: -10px;
  right: 10px;
}

.sz-lg{
  width: 100%;
  max-width: 100%;
}

.navbar{
	margin: 0 auto !important;
}

.navbar-brand{
  width: 100% !important;
}


.list-group-item{
  transition: background-color .5s ease;
  cursor: pointer;
}

.list-group-item:hover{
  background-color: rgba(0,79,112,0.1);
}

.entry-link:hover{
  text-decoration: none;
}

.text-box{
  min-width: 220px;
  max-width: 520px;
  min-height: 100px;
  max-height: 500px;
}

.form-group-select select {
    min-width: 220px;
    max-width: 450px;
    height: 45px;
    border-radius: 5px;
    border: 0;
    border: 1px solid rgba(0,0,0,0.6);
    border-top: 4px solid rgba(0,0,0,0.6);
    background-color: #fff;
    font-family: 'Arial';
    transition: all .5s ease;
    cursor: pointer;
}

.form-group-select:hover{

}

.jumbo-header{
  animation-name: fadeIn;
  animation-duration: .5s;
}

.card{
  min-width: 200px;
  max-width: 275px;
  box-shadow: 1px 4px 1px rgba(0,0,0,0.8);
  margin: 20px;
  color: #fff;
  transition: all 0.3s ease;
}

/* .card:hover{
  box-shadow: 3px 6px 1px rgba(0,0,0,0.8);
} */

.card-header{
  background-color: #004765;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  position: relative;
  color: white;
}

.card-body{
  background-color: #19a2b8;
  padding: 10px;
}

.card-body .computer-number{
  font-size: 25px;
}

.card-footer{
  background-color: #19a2b8;
  padding: 15px;
}

.increment-btns button{
  -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    opacity: 1;
    color: black;
    background-color: #17a2b8;
    font-size: 35px;
    padding: 0 10px 0 10px;
}

.button-container{
  margin-top: 20px;
}

.button:focus .print-total{
  color: red;
}

.close-btn .delete-user{
  position: absolute;
  right: 7px;
  top: 5px;
  font-size: 20px;
  color: #000;
}

.close-btn .delete-user:hover{
  opacity: 0.7;
}

.print-tracker-status{
  margin: 50px;
}

.active-users{
  background-color: #e1e1e1;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  height: fit-content;
  padding: 30px;
  margin: 10px;
}

.check-mark{
  color: black;
  opacity: 0;
  margin-top: 10px;
  font-size: 10px;
}

.check-mark.show{
  animation: showCheckMark 3.5s;
}

.explore-card{
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  max-height: 200px;
  background-color: #e9e6e6;
  text-align: center;
  transition: box-shadow 0.2s ease;
  border-radius: 3px;
}

.explore-container{
  margin-bottom: 20px;
  position: relative;
  top: -160px;
}

.explore-card:hover{
  box-shadow: 10px 6px 0px 0px #e0e0e0;
}

.explore-card:hover .nav-arrows{
  animation-play-state: running;
}

.my-custom-scrollbar {
  position: relative;
  overflow: auto;
  margin: 20px;
}
.table-wrapper-scroll-y {
  display: block;
}

.username-button:hover{
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
}

.col-center{

}

@keyframes showCheckMark{
  0%{
    opacity: 0;
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(45deg);
    opacity: 1;
    font-size: 15px;
  }
  60%{
    transform: rotate(0deg);
  }
  90%{
    opacity: 1;
    font-size: 13px;

  }
  100%{
    opacity: 0;
  }
}

/* FORM STYLES */



.signin-section{
  width: 100%;
  padding: 20px;
  height: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin-top: 30px;
}

.greeting-container{
  max-width: 650px;
  text-align: center;
  height: fit-content;
  color: #6e5773;
}

.signin-container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.left-signin{
  display: flex;
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.seperator{
   display: flex;
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.line{
  width: 1px;
  height: 100%;
  background-color: #6e5773;
}

.sep-text{
  position: absolute;
  top: 40%;
  display: flex;
content-align: center;
  justify-content: center;
  background-color: white;
  font-size: 11px;
}

.right-signin{
   display: flex;
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  position: relative;
  align-items: center;
  width: 100%;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 2s;
  margin-bottom: 20px;
}



.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #ea9085, #d45d79);
  border-image-slice: 1;
}

.view-container{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 180px;
  margin-top: 10px;
}

.empty-events-img{
  max-width: 365px;
  max-height: 462px;
  margin-top: 30px;
}


.footer-container{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background: #126a9d;
}

.input-container-search{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.icon-circle{
  display: inline-flex;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: #126a9d;
  position: absolute;
  top: -75px;
  left: 10px;
}

.icon-circle::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #126a9d;

  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  /* Center the ripple */
  top: 50%;
  left: 50%;

  animation: ripple .5s;
  opacity: 0;
}
.icon-circle.clicked::after {
  display: block;
}

.fa-search{
  font-size: 30px;
  color: white;
}

#date-input-start, #date-input-end{
  border: none;
  border-bottom: 1px solid black;
  background: #126a9d;
  margin: 0 20px;
  color: white;
  border-radius: 2px;
  padding: 10px 0 0 10px;
  font-size: 20px;
}

.dropdown-menu:hover{
  cursor: pointer;
}

.dropdown-menu > li{
  padding: 3px;
}

.dropdown-menu > li:hover{
  opacity: 0.8;
}

.input-container-search > input[type="text"]::-webkit-input-placeholder{
  color: white;
}


/* Calendar STYLES */

/* OUTER CARD  */
.calendar-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  width: 90%;
}

.calendar-card{
  height: fit-content;
  width: 100%;
}


/* HEADER */
.card-header{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #003652;
  padding: 18px;
  padding-bottom: 5px;
  position: relative;
}

.color-white{
  color: white !important;
}

.flex-container-row{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

/* CALENDAR BOX  */

.calendar-box{
  width: fit-content;
  /* border: 1px solid #ff7236; */
  border-radius: 1px 1px 4px 4px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-box > .day{
  background: #ff7236;
  color: white;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}

.calendar-box > .month{
  font-size: 4rem;
  color: white;
}

.card-text-aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  color: white;
  margin-left: 10px;
}

.calendar-right > i {
  color: white;
}

.card-text-aside > .day-name{

}

.card-text-aside > .time{
  font-size: 1.8rem;
}

.card-text-aside > .location{
  font-size: 1.5rem;
}

.calendar-right{
  display: flex;
  position: absolute;
  right: 5px;
  top: 5px;
  color: #3e3e3e;
}

.calendar-right > .far{
  font-size: 3rem;
}


/* CALENDAR BODY */

.calendar-body{
  padding: 20px;
  background: #f5f2eb;
}

.calendar-body > .title{
  font-size: 2.1rem;
  color: #ff7236;
}

.calendar-body > .description{
  margin: 10px 0 0 5px;
  /* border-left: 1px solid #003652; */
  padding-left: 5px;
  font-size: 1.5rem;
}

.faq-description > p, blockquote > p {
  background-color: transparent !important;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(5);
  }
}

#spanContainer{
/*   max-height: 150px; */
/*   overflow: scroll; */
  max-width: 100%;
  text-align: left;
  margin-top: 10px;
  border: none;
  transition: all 1s ease;
}

.headline{
  opacity: 0.6;
  font-size: 12px;
  text-align: left;
  /* padding-bottom: 10px; */
}

.sub-headline {
  font-size: 10px;
  opacity: 0.6;
  /* padding-bottom: 10px; */
}

#spanContainer > span{
  display: inline-block;
/*   padding: 3px; */
/*   width: fit-content; */
  flex-direction: row;
}

.data-added{
  background-color: #e4e2df;
  color: #454545;
  padding: 5px 7px;
  border-radius: 25px;
  font-size: 13px;
  margin: 3px 7px 5px 0;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.4);
  transition: all .3s ease;
  position: relative;
  bottom: 0;
  right: 0;
}

.data-added:hover{
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  bottom: -1px;
  right: -1px;
}

.data-added > .category-close{
  padding: 3px;
  position: relative;
  top: -5px;
  right: -5px;
  font-size: 14px;
  font-weight: 100;
  width: 100%;
  transition: all .3s ease;
}

.data-added > .category-close:hover{
  cursor: pointer;
}

.tag-input-container, .tag-input-container-large{
  display: inline-block;
  width: 100%;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 5px;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.tag-input-container-large{
  max-width: 800px;
}

.tag-input-container > input{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  outline: none;
  width: 100%;
}

.tag-input{
  margin: 15px 15px 0 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  background: none;
}

.tag-input:focus{
  outline: none;
}

.tag-input:focus .tag-input-container{
  border: 2px solid #006599;
  box-shadow: 0 0 0 4px rgba(0,101,153,0.5);
  outline: none;
}

label{
  display: block;
}

.category{
  border-radius: 15px;
  background-color: #d5d5d5;
  padding: 6px 10px;
  opacity: 1;
  color: darkblue;
  transition: .3s ease;
  font-size: 13px;
}

.category:hover{
  opacity: 0.7;
  cursor: pointer;
}

.category-container{
  margin-bottom: 20px;
  margin-top: 7px;
}

.category-container > a {
  display: inline-block;
  text-decoration: none;
  margin: 3px 5px 17px 0px;
}

.tag-input-container > textarea, .tag-input-container-large > textarea{
  box-shadow: 0 0 0 !important;
  border-radius: 0px !important;
}

.padding-sm-top{
  padding-top: 1rem;
}
.padding-sm-right{
  padding-right: 1rem;
}
.padding-sm-bottom{
  padding-bottom: 1rem;
}
.padding-sm-left{
  padding-left: 1rem;
}

.padding-sm{
  padding: 10px;
}

.padding-md{
  padding: 20px;
}

.padding-lg{
  padding: 30px;
}

.padding-xlg{
  padding: 40px;
}

.s3-responsive{
  max-width: 98%;
  max-height: 98vh;
}

.modal, .img-modal {
  display: none; /* Hidden by default */
  opacity: 0;
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  -webkit-animation: fadeIn 0.3s ease-in-out forwards;
          animation: fadeIn 0.3s ease-in-out forwards;
}

.img-modal.show{
  display: block !important;
  text-align: center;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 600px;
  max-height: 90vh;
  background-color: #f5f2eb;
  padding: 25px;
}

.modal-content > .container {
  width: 100% !important;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 0.6s;
  animation-name: zoomIn;
  animation-duration: 0.6s;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-content::-webkit-scrollbar{
  width: 0;
  height: 0;
}

hr{
  border-top: 1px solid black !important;
}

@-webkit-keyframes zoomIn {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoomIn {
  from {-webkit-transform:scale(0);transform:scale(0)}
  to {-webkit-transform:scale(1);transform:scale(1)}
}

@-webkit-keyframes fadeIn {
  from {opacity:0}
  to {opacity:1}
}

@keyframes fadeIn {
  from {opacity:0}
  to {opacity:1}
}

.close {
  position: absolute;
  z-index: 99999;
  top: 55px;
  right: 25px;
  color: white;
  opacity: 1 !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

a > button{
  margin-bottom: 10px;
}

.list-group-item > .glyphicon {
  padding-left: 10px;
}

.slate-grey{
  background: #3f3d56 !important;
}

button{
  border: none;
}

.list-group-item > .glyphicon-calendar, .glyphicon-home, .glyphicon-ok {
  padding-right: 5px;
}

.reference-query {
  width: 90% !important;
}

.list-group-item > .inner-flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.query-delete{
  position: absolute;
  top: -11px;
  right: -13px;
  color: red;
}

.description-query{
  font-size: 12px;
  height: 0px;
  overflow: hidden;
  transition: all .3s ease;
  padding: 0 0 0 20px;
  background-color: rgba(0,79,112,0.1);
  border-radius: 5px;
}

.description-query.open{
  height: fit-content;
  padding: 20px;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.entry{
  background: #f1f1f1;
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 20px;
  box-shadow: 10px 6px 0px 0px #e0e0e0;
  transition: all .3s ease;
  position: relative;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
  /* border: 2px solid transparent; */
  /* min-width: 330px; */
  border-top: 4px solid #006599;
  max-width: 550px;
}

.entry.private{
  border-top: 4px solid #cc262d !important;

}

.entry:hover{
  box-shadow: 0px 0px 0px 0px #4b3742;
  right: -10px;
  bottom: -6px;
  /* border: 2px solid darkblue; */
}

.show-link{
  font-size: 20px;
  color: #333;
  transition: all .4s ease;
}

.show-link:hover{
  color: #ff7236;
  cursor: pointer;
}

.flash-message{
  width: fit-content;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 10px 6px 0px 0px #e0e0e0;
  background: #fdfdfd;
  position: absolute;
  top: 28px;
  left: -1000px;
  opacity: 0;
  transition: all .4s ease;
  z-index: 9999;
}

.flash-message.show{
  /* left: 20px;
  opacity: 1; */
  animation: slideIn .5s forwards;
}

.hidden-textarea{
  visibility: hidden;
}

@keyframes slideIn {
  100%{
    left: 20px;
    opacity: 1;
  }
}

.fr-element{
  min-height: 200px !important;
}

.fr-toolbar, .fr-wrapper{
  border: none !important;
}

.fr-second-toolbar{
  display: none;
}

.faq-description > [data-f-id="pbf"] {
  opacity: 0 !important;
}

.pos-absolute{
  position: absolute;
}

.top-right{
  top: 5px !important;
  right: 5px;
}

.fr-fic:hover{
  cursor: pointer;
}

body.stop-scrolling{
  height: 100%;
  overflow: hidden;
}

.input-group{
  margin: 15px 0px;
}

.input-group > .list-group{
  margin-bottom: 0px;
}

.avatar{
  display: inline-flex;
  position: relative;
  margin-right: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f5f2eb;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 12px 1px rgb(0 0 0 / 50%);
}

.avatar > img {
  height: 85%;
}

.admin-panel{
  min-height: 87vh;
}

.admin-panel-main-card{
  margin-top: 20px;
  padding: 20px 10px;
}

.smooth-border{
  border-radius: 5px;
}

.shadow{
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 50%);
}

a:hover{
  text-decoration: none;
}


/*
------------------
| ***************
| New Card Design
| ***************
------------------
*/

/* .container{
  padding-top: 20px;
} */

.card-container{
  display: flex;
  flex-wrap: wrap;
}

.card:hover{
  box-shadow: 1px 1px 6px 4px rgb(0 0 0 / 30%);
}

.card{
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-width: 320px;
  max-width: 520px;
  flex: 1 1 20%;
  box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 20%);
  height: fit-content;
  border-radius: 7px;
  padding-bottom: 10px;
  color: black;
  transition: box-shadow .2s ease;
}

.slanted-header.private{
  background-color: #cc262d;
}

.slanted-header{
  border-radius: 7px 7px 0 0;
  height: 100px;
  width: 100%;
  background-color: #37268e;
  position: relative;
  overflow: hidden;
}

.slanted-header:before{
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0px;
    transform: rotate(180deg);
    /* width: 110%; */
    border-style: solid;
    border-width: 0 500px 30px 0;
    border-color: transparent white transparent transparent;
}

.avatar-container{
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.avatar-container > span{
  position: relative;
  bottom: 10px;
  color: white;
  font-size: 11px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.card-avatar{
  display: inline-flex;
  margin-right: 15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f5f2eb;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 12px 1px rgb(0 0 0 / 50%);
  overflow: hidden;
}

.card-avatar > img{
  border-radius: 50%;
  width: 95%
}

.body{
  margin: 20px;
  height: 100%;
  position: relative;
}

.date > i, .date > span{
  color: #454545;
}

.date > i{
  margin-right: 5px;
}

.title{
  margin: 15px 0 4px 0;
  font-weight: 600;
  font-size: 22px;
}

.description{
  font-size: 12px;
}

.info{
  margin: 10px 0;
}

.info-tab{
  display: inline-block;
  padding: 6px 9px;
  margin-right: 10px;
  width: fit-content;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 50%);
}

.fa-chevron-right{
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease;
}

.fa-chevron-right:hover{
  transform: translateX(2px);
}

.last-update > i, .last-update > span{
  font-size: 11px;
}

.last-update > span > span{
  font-weight: 700;
}

.fa-lock-open, .fa-lock{
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.btn-chevron{
  color: black !important;
}

/*
------------------
| ***************
| BG Colors
| ***************
------------------
*/

.bg-linen{
  background-color: #f5f2eb;
}

.bg-white{
  background-color: white;
}

/*
------------------
| ***************
| Dashboard
| ***************
------------------
*/

.flex-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.fg2{
  flex-grow: 2;
}

.fg1{
  flex-grow: 1;
}

.fg3{
  flex-grow: 3;
}

.db-container{
  animation-name: fadeIn;
  animation-duration: .8s;
}

.db-panel{
  background-color: white;
  margin: 5px;
  min-width: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  transition: box-shadow .3s ease;
}

.db-panel:hover{
  box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.2);
}

.big-number{
  font-size: 55px;
  color: #37268e;
}

.event-panel{
  display: inline-block;
  margin: 10px;
  min-height: 150px;
  min-width: 250px;
  color: white;
  background: linear-gradient(130deg, #ec4887, #b954a4);
  border-radius: 10px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.event-panel > svg{
  position: absolute;
  width: 350px;
  z-index: -1;
  left: -40px;
  transform: rotate(270deg);
}

.event-panel > svg > path{
  opacity: 0.2;
}

.gradient1{
  background: linear-gradient(130deg, #ec4887, #b954a4);
}

.gradient2{
  background: linear-gradient(130deg, #48c6ec, #2a99d1);
}

.gradient3{
  background: linear-gradient(130deg, #ec7948, #d1622a);
}

.event-panel-title{
  /* margin: 10px; */
}

.event-panel-date{
  font-weight: 300;
  font-size: 18px;
}

.event-card-container{
  min-height: 170px;
}

/*
------------------
| ***************
| Loader
| ***************
------------------
*/


.loader{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-inner{
  width: 30px;
  height: 30px;
  border-radius: 50%;
/*   border: 5px solid transparent;
  border-top: 3px solid #659ba0; */
  position: relative;
}

.loader-inner div{
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-top: 2px solid #37268e;
  border-radius: 50%;
  animation: spin 1s infinite;
}

.loader-inner div:nth-child(1){
  animation-delay: -0.25s;
}

.loader-inner div:nth-child(2){
  animation-delay: -0.40s;
}

.loader-inner div:nth-child(3){
  animation-delay: -0.60s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
/*   10%{
    transform: rotate(100deg);
  }
  20%{
    transform: rotate(200deg);
  }
   35%{
    transform: rotate(300deg);
  }
  45% {
    transform: rotate(400deg);
  }
  55% {
    transform: rotate(500deg);
  }
 65% {
    transform: rotate(1100deg);
 }
  84% {
    transform: rotate(1300deg);
 } */
  100%{
    transform: rotate(1440deg);
  }
}
